@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900');

/* Product details css */
.indexBody{
	display: flex;
	align-items:center;
	flex-wrap: wrap;
	min-height: 100vh;
	background: #010615;
}
.box{
	position: relative;
	width: 300px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items:center;
	margin: 40px;
	background: #060c21;
	transition: 0.5s
}
.box:hover{
	height: 300px;
}
.box .imageBox{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.box .imageBox img{
	max-width: 100%;
	opacity: 0.3;
	transition: 0.5s;
}
.box:hover .imageBox img{
	opacity: 1;
}
.box:before{
	content: '';
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	background: #fff;
	z-index: -1;
}	
.box:after{
	content: '';
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(40px);
}	
.box:before,
.box:after{
	background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}
.box .titleBox{
	position: absolute;
	top: 150px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	height: 90px;
	background: rgba(0,0,0,0);
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.5s;
}
.box:hover .titleBox{
	opacity: 1;
}
.box .buttonBox{
	position: relative;
	top: 110px;
	left: 0px;
	bottom: 100px;
	height: 40px;
	width: 80px;
	background: rgba(0,0,0,0);
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	text-align: center;
	opacity: 0;
	transition: 0.5s;
}
.box:hover .buttonBox{
	opacity: 1;
}